.site-footer {
  padding: 40px 0;
  background: #232323;
  text-align: center;
}

.footer__logo {
    float: none;
}

.social-links {
  margin-top: 15px;
}

.social-links-item__link {
  text-indent: 100%;
  overflow: hidden;
}

.social-link-item {
  display: inline-block;
}


.copyright {
  display: block;
  text-transform: uppercase;
  margin-top: 15px;
}


