.header-wrap {
  position: relative;
}

.site-header {
  padding-top: 10px;
  background: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.site-header__fixed {
  position: fixed;
  width: 100%;
  top: 0;

  @media(max-width: $tablet){
    display: none !important;
  }
}

.logo {
  float: left;
}