@import url(http://fonts.googleapis.com/css?family=Open+Sans:600,700,400|Raleway:400,500,600);

$font--heading: 'Raleway', sans-serif;
$font--regular: 'Open Sans', sans-serif;
$color--heading: #333;
$color--attention: #0b8fe8;
$color--bg: #f3f3f3;
$color--text: #777;
$color--heading-secondary: #555;
$mobile: 500px; //max-width: 1
$tablet: 850px; //max-width: 2
$desktop: 1201px; //4
